.year {
  display: inline;
  font-size: 1.5em;
  margin-left: 0em;
  margin-right: 0em;
}

.years {
  text-align: center;
}

.yearButton {
  border: 0;
  color: #a73e2f;
}

.yearButton.selected {
  font-weight: bold;
  text-decoration: underline;
}
